{% extends "cashier/cashier_dashboard.html" %}

{% block heading %}
  <h1>Payment History</h1>
{% endblock heading %}

{% load static %}
{% block content %}

<!-- Custom fonts for this template-->
<link href= "{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
<link href= "{% static "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" %}" rel="stylesheet">

<div class="container-fluid" style=" display: flex; margin-top: 3vh; margin-bottom: 5vh;">

    <div class="box1 p-3" style="height: auto; flex: 4; border-radius: 13px;">
        <div class="card shadow-sm mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Payment Record</h6>
            </div>
    
            <div class="card-body">
                <div class="form">
                    <div class="row g-3">
                        <fieldset class="col-6 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Student LRN</label>
                            <input type="text" class="form-control" id="inputEmail4" value="{{ payment.student_lrn }}">
                        </fieldset>
                        <fieldset class="col-6 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="inputEmail4" value="{{ payment.student_lrn.first_name }} {{ payment.student_lrn.surname }}">
                        </fieldset>
                        <fieldset class="col-6 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Grade Level</label>
                            <input type="text" class="form-control" id="inputEmail4" value="{{ payment.student_lrn.level }}">
                        </fieldset>
                        <fieldset class="col-6 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Section</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder='student LRN' value="{{ payment.student_lrn.section }}">
                        </fieldset>

                        <fieldset class="col-md-7 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Payment Method:</label>
                            <input type="text" class="form-control" id="inputEmail4" value="{{ payment.payment_type  }}">
                        </fieldset>
                        <fieldset class="col-md-5 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Transaction ID</label>
                            <input type="number" class="form-control" id="inputEmail4"  value="{{payment.payment_id }}">
                        </fieldset>
                        <fieldset class="col-md-5 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Receipt Date</label>
                            <input type="date" class="form-control" id="receiptDate"  value="{{payment.date|date:'Y-m-d'}}">
                        </fieldset>
                        <fieldset class="col-md-5 mb-2" disabled>
                            <label for="inputEmail4" class="form-label">Amount</label>
                            <input type="number" class="form-control" id="amount"  value="{{payment.amount}}">
                        </fieldset>
                        <fieldset class="col-12" disabled>
                            <label for="inputEmail4" class="form-label">Payment Description</label>
                            <input type="text" class="form-control" id="paymentDescription"  value="{{payment.description}}">
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="box2 p-3" style="height: auto; flex: 1; border-radius: 13px;">
        <a href="{% url "payment" %}" class="btn btn-primary btn-icon-split d-flex justify-content-between mb-3" style="width: 100%;">
            <span class="icon text-white-50">
                <i class="bi bi-back"></i>
            </span>
            <span class="text">Back</span>
            <span></span>
        </a>
    </div>

    
</div>

{% endblock content %}