{% extends "admission/admission-dashboard.html" %}

{% block content %}
<form >
    {% csrf_token %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Student Information</h6>
            </div>
            
    
            <div class="card-body">
                <div class="row g-3">
                    <fieldset class="col-md-12" disabled>
                        <label for="inputEmail4" class="form-label">LRN</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder='student LRN' value="{{student.student_lrn}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputsurname" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="inputsurname" value="{{student.surname|title}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputname" value="{{student.first_name|title}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputmiddle" class="form-label">Middle Name</label>
                        <input type="text" class="form-control" id="inputmiddle" value="{{student.middle_name|title}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputmiddle" class="form-label">Sufix</label>
                        <input type="text" class="form-control" id="inputmiddle" value="{{student.sufix|title}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputState" class="form-label">Gender</label>
                        <input type="text" class="form-control" id="inputmiddle" value="{{student.gender}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputbirth" class="form-label">Birth Date</label>
                        <input type="input" class="form-control" id="inputbirthdate" value="{{student.birth_date}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputbirth" class="form-label">Age</label>
                        <input type="input" class="form-control" id="inputbirthdate" value="{{student.age}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputbirth" class="form-label">Birth Place</label>
                        <input type="text" class="form-control" id="inputbirthplace" value="{{student.birth_place}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputreligion" class="form-label">Mother Tongue</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.mother_tongue}}">
                    </fieldset>
                    <fieldset class="col-md-6" disabled>
                        <label for="inputreligion" class="form-label">Ethnic Group</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.ethnic_group}}">
                    </fieldset>
                    <fieldset class="col-md-6" disabled>
                        <label for="inputreligion" class="form-label">Religion</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.religion}}">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Student Address</h6>
            </div>

            <div class="card-body">
                <div class="row g-3">
                    {% comment %} Guardian {% endcomment %}
                   <fieldset class="col-md-2" disabled>
                        <label for="inputreligion" class="form-label">House Number</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.house_number}}">
                    </fieldset>
                    <fieldset class="col-md-5" disabled>
                        <label for="inputreligion" class="form-label">Street</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.street}}">
                    </fieldset>
                    <fieldset class="col-md-5" disabled>
                        <label for="inputreligion" class="form-label">Barangay</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.barangay}}">
                    </fieldset>
                    <fieldset class="col-md-6" disabled>
                        <label for="inputreligion" class="form-label">City</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.city}}">
                    </fieldset>
                    <fieldset class="col-md-6" disabled>
                        <label for="inputreligion" class="form-label">Province</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.province}}">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Parent Information</h6>
            </div>

            <div class="card-body">
                <div class="row g-6">
                    <!-- Parents -->
                    <fieldset class="col-md-4" disabled>
                        <label for="inputreligion" class="form-label">Father's Last Name</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.fathers_last_name}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputreligion" class="form-label">Father's Name</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.father_name}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputreligion" class="form-label">Father's Middle Name</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.fathers_middle_name}}">
                    </fieldset>

                    <div class="col-md-12">
                        <label for=""><i>Mother's Maiden Name</i></label>
                    </div>
                    
                    <fieldset class="col-md-4" disabled>
                        <label for="inputreligion" class="form-label">Mother's Last Name</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.mothers_last_name}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputreligion" class="form-label">Mother's Name</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.mother_name}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputreligion" class="form-label">Mother's Middle Name</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.mothers_middle_name}}">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contact Number</h6>
            </div>

            <div class="card-body">
                <div class="row g-3">
                    {% comment %} Guardian {% endcomment %}
                    <fieldset class="col-md-6" disabled>
                        <label for="inputreligion" class="form-label">Contact No. of Parent or Guardian</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.guardian_contact}}">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}