{% extends "admission/admission-dashboard.html" %}



{% block content %}
    <div class="container-fluid">
        <div class="card-body">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      
                <div class="container-fluid" style="height: 100vh;">
      
                  <div class="card shadow-sm mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Enrollies</h6>
                      </div>
              
                      <div class="card-body">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                          <div class="row">
                            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                                <div class="dataTables_length d-flex align-items-center gap-2" id="dataTable_length">
                                  <a href="{% url "addstd" %}" role='btn' class='btn btn-light border'>
                                    <i class="bi bi-plus-circle"></i> New Student
                                  </a>
                                </div>
                            </div>
                              
                            <div class="col-sm-12 col-md-6 d-flex align-items-center">
                              <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group dataTables_length d-flex align-items-center gap-2">
                                    <input type="text" name="search" class="form-control bg-light border-0 small" placeholder="Search here" aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
              
                        <table class="table table-hover my-1">
                          <div class="row">
                              <div class="col-sm-12">
                                <thead>
                                    <tr>
                                        <th scope="col">LRN:</th>
                                        <th scope="col">Surname</th>
                                        <th scope="col">Grade Level</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for i in enrollies %}
                                        <tr>
                                          <td>{{i.student_lrn}}</td>
                                          <td>{{i.surname}}</td>
                                          <td>{{i.level}}</td>
                                          <td>
                                            <a href="#" class="btn btn-warning btn-icon-split btn-sm">
                                              <span class="icon text-white-50">
                                                  <i class="fas fa-exclamation-triangle"></i>
                                              </span>
                                              <span class="text">Archive</span>
                                            </a>
                                            <a href="{% url "studentinfo" i.student_lrn %}" class="btn btn-info btn-icon-split btn-sm">
                                              <span class="icon text-white-50">
                                                  <i class="fas fa-info-circle"></i>
                                              </span>
                                              <span class="text">View</span>
                                            </a>  
                                          </td>
                                        </tr>
                                  {% endfor %}
                                </tbody>
                              </div>
                          </div>
                        </table>
                      </div>
              
                  </div>
            </div>
      
        </div>
    </div>
{% endblock content %}

