{% extends "student/student_dashboard.html" %}


{% block heading %}
    Class Schedule
{% endblock heading %}


{% block content %}




<!-- Begin Page Content -->

<div class="container-fluid p-3" style="height: 100vh;">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List of Subjects Schedule</h6>
        </div>

        <div class="card-body">
            <div class="table-responsive">

                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 d-flex align-items-center">
                            <div class="dataTables_length d-flex align-items-center gap-2" id="dataTable_length">
                                <label class="d-flex align-items-center mb-2">
                                    Show 
                                    <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm mx-2">
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="50">50</option>
                                    </select> 
                                    entries
                                </label>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length d-flex align-items-center gap-2" id="dataTable_length">
                                <label class="d-flex align-items-center mb-2">
                                    Search: 
                                    <input type="search" class="form-control form-control-sm ms-2" placeholder aria-controls="dataTable">
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">Day</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Teacher</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monday</td>
                                    <td>1:00 - 2:00 pm</td>
                                    <td>Mathematics 7</td>
                                    <td>Mr. Juan Dela Cruz</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                    
            </div>        
        </div>
    </div>
</div>


{% endblock content %}