{% extends "student/student_dashboard.html" %}

{% block content %}

<div class="container-fluid">
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
        aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Components</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
        </div>
    </div>
  </li>
</div>

<table class="table">
    {% csrf_token %}
    <thead>
      <tr>
        <th scope="col">Subjects</th>
        <th scope="col">First Quarter</th>
        <th scope="col">Second Quarter</th>
        <th scope="col">Fourth Quarter</th>
        <th scope="col">Fifth Quarter</th>
        <th scope="col">Average</th>
      </tr>
    </thead>
    <tbody>
        {% for subject in subject %}
          <tr>
            <td>{{subject.subject}}</td>
            <td>{{subject.subject_grade_firstQ}}</td>
            <td>{{subject.subject_grade_secondQ}}</td>
            <td>{{subject.subject_grade_thirdQ}}</td>
            <td>{{subject.subject_grade_fourthQ}}</td>
            <td>{{subject.average}}</td>
          </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}