{% extends "student/student_dashboard.html" %}

{% load static %}
{% block content %}
<style>
  .logo img {
      width: 8vw; /* Makes sure image scales properly */
      height: auto;
      border-radius: 100%;
  }
</style>

<div class="container-fluid bg-gradient-primary" style="height: 12vh; margin-bottom: 5vh;">
  <div class="logo">
      <img src="{% static "img/logo.png" %}" alt="Logo">
  </div>
</div>

<div class="container-fluid min-vh-100">


  <nav class="navbar navbar-expand navbar-light bg-light mb-2">
    <a class="navbar-brand" href="#"><h1 class="h3 mb-0 text-gray-800">Academic Grades</h1></a>
    <p class="my-2">School Year: 2025-2026</p>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Grade level
            </a>
            <div class="dropdown-menu dropdown-menu-right animated--fade-in"
                aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Grade 7</a>
                <a class="dropdown-item" href="#">Grade 8</a>
                <a class="dropdown-item" href="#">Grade 9</a>
                <a class="dropdown-item" href="#">Grade 10</a>
            </div>
        </li>
    </ul>
  </nav>  

  <table class="table" style="margin-top: 1vh;">
      {% csrf_token %}
      <thead>
        <tr>
          <th scope="col">Subjects</th>
          <th scope="col">First Quarter</th>
          <th scope="col">Second Quarter</th>
          <th scope="col">Fourth Quarter</th>
          <th scope="col">Fifth Quarter</th>
          <th scope="col">Average</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
      <tbody>
          {% for subject in subject %}
            <tr>
              <td>{{subject.subject}}</td>
              <td>{{subject.subject_grade_firstQ}}</td>
              <td>{{subject.subject_grade_secondQ}}</td>
              <td>{{subject.subject_grade_thirdQ}}</td>
              <td>{{subject.subject_grade_fourthQ}}</td>
              <td>{{subject.average}}</td>
            </tr>
          {% endfor %}
      </tbody>
  </table>  
</div>


{% endblock content %}