{% extends "student/student_dashboard.html" %}

{% load static %}
{% block content %}
<style>
    .logo img {
        width: 8vw; /* Makes sure image scales properly */
        height: auto;
        border-radius: 100%;
    }
</style>

<!-- Begin Page Content -->
<div class="container-fluid mb-4 d-flex align-items-center justify-content-between bg-gradient-primary" style="height: 12vh; margin-bottom: 2vh;">
    <div class="logo">
        <img src="{% static "img/logo.png" %}" alt="Logo">
    </div>
    
    <div class="Title text-white"><h1>Profile</h1></div>
  
    <div class="text-white" id="school year"><h3>2024-2025</h3></div>
  
    <div class="d-flex align-items-center gap-3">
        <div class="text-white">
            <div id="current-date"></div>
            <div id="current-time"></div>
        </div>
    </div>
  
    <!-- jQuery Script for Live Date & Time -->
    <script>
        function updateDateTime() {
            let now = new Date();
  
            // Format Date
            let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            let dateStr = now.toLocaleDateString('en-US', options);
  
            // Format Time
            let timeStr = now.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true });
  
            // Update elements
            $("#current-date").text(dateStr);
            $("#current-time").text(timeStr);
        }
  
        // Update time every second
        $(document).ready(function () {
            updateDateTime();
            setInterval(updateDateTime, 1000);
        });
    </script>
</div>

<div class="container-fluid" style="height: auto;">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">View Account Profile and Security</h6>
        </div>
    
        <div class="card-body">
            <div class="container-fluid">
                <div class="container pt-3 pb-3" id="profile">
                    <div class="col-md-4">
                        <label for="inputProfile" class="form-label">Profile</label>
                        <input type="file" name="profile" id="inputProfile" class="form-control" accept="image/*">
                    </div> 
                </div><!-- PROFILE PICTURE -->
    
                <form class="row g-3" >
                    {% csrf_token %}
                    <fieldset class="col-md-6" disabled>
                        <label for="inputEmail4" class="form-label">LRN</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder='student LRN' value="{{student.student_lrn}}">
                    </fieldset>
                    <fieldset class="col-md-6" disabled>
                        <label for="inputEmail4" class="form-label">Username</label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder='student LRN' value="{{student.user}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputsurname" class="form-label">Surname</label>
                        <input type="text" class="form-control" id="inputsurname" value="{{student.surname}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputname" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputname" value="{{student.first_name}}">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputmiddle" class="form-label">Middle Name</label>
                        <input type="text" class="form-control" id="inputmiddle" value="{{student.middle_name}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputState" class="form-label">Gender</label>
                        <input type="text" class="form-control" id="inputgender" value="{{student.gender}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputbirth" class="form-label">Birth Date</label>
                        <input type="input" class="form-control" id="inputbirthdate" value="{{student.birth_date}}">
                    </fieldset>
                    <fieldset class="col-md-3" disabled>
                        <label for="inputbirth" class="form-label">Birth Place</label>
                        <input type="text" class="form-control" id="inputbirthplace" value="{{student.birth_place}}">
                    </fieldset>
                    <fieldset class="col-md-3" disabled>
                        <label for="inputreligion" class="form-label">Religion</label>
                        <input type="text" class="form-control" id="inputreligion" value="{{student.religion}}">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputState" class="form-label">Civil Status</label>
                        <input type="text" class="form-control" id="inputcontact" value="{{student.civil_status}}">
                    </fieldset>
    
                    <!-- SINGIT KO LANG -->
                    <fieldset class="col-md-2" disabled>
                        <label for="inputEmail4" class="form-label">Mother Tongue:</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </fieldset>
                    <fieldset class="col-md-2" disabled>
                        <label for="inputEmail4" class="form-label">Ethnic Group:</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </fieldset>
                    <!-- END OF SINGIT -->
    
                    <fieldset class="col-md-4" disabled>
                        <label for="inputcontact" class="form-label">Contact Number</label>
                        <input type="text" class="form-control" id="inputcontact" value="{{student.contact}}">
                    </fieldset>
    
                    <div class="col-md-12"></div>
    
                    <!-- ADD KO LANG 'TO KASI NEED 'TO MAKITA NG PANELISTS!!-->
                    <fieldset class="col-md-3" disabled>
                        <label for="inputEmail4" class="form-label">Father's Name:</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </fieldset>
                    <fieldset class="col-md-3" disabled>
                        <label for="inputEmail4" class="form-label">Mother's Maiden Name:</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </fieldset>
                    <fieldset class="col-md-3" disabled>
                        <label for="inputEmail4" class="form-label">Guardian Name:</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </fieldset>
                    <fieldset class="col-md-3" disabled>
                        <label for="inputEmail4" class="form-label">Relationship:</label>
                        <input type="text" class="form-control" id="inputEmail4">
                    </fieldset>
                    <fieldset class="col-md-4" disabled>
                        <label for="inputEmail4" class="form-label">Contact No. of Parent or Guardian:</label>
                        <input type="numeric" class="form-control" id="inputEmail4">
                    </fieldset>
                    <!-- END HERE!!-->
                    <div class="col-md-12"></div>
    
                    <fieldset class="col-md-6" disabled> 
                        <label for="disabledTextInput" class="form-label">Section</label>
                        <input type="text" id="disabledTextInput" class="form-control" value="{{student.section}}">
                    </fieldset>
            
                    <fieldset class="col-md-6" disabled>
                        <label for="inputemail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="inputemail" value="{{student.email}}">
                    </fieldset>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}