<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Student Management System in SVIT">
    <meta name="author" content="">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>Welcome</title>

    <!-- Custom fonts for this template-->
    <link href= "{% static "vendor/fontawesome-free/css/all.min.css" %}"  rel="stylesheet" type="text/css">
    
    
    <!-- Custom styles for this template-->
    <link href= "{% static "css/sb-admin-2.min.css" %}" rel="stylesheet">

    <style>
        .logo {
            position: absolute;
            top: 10vh;  /* Distance from top */
            left: 8vw; /* Distance from left */
            width: 30vw; /* Adjust width as needed */
            height: auto;
            z-index: 1000; /* Ensures it stays on top */
        }
        
        .logo img {
            width: 15vw; /* Makes sure image scales properly */
            height: auto;
            border-radius: 100%;
            margin-bottom: 2vh; /* Space between image and text */
            margin-top: 3vh;
        }
    </style>
</head>

<body class="bg-gradient-light overlay-bg" style="background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), 
    url('{% static "img/bglogin.png" %}') no-repeat center center/cover;">

    <!-- Logo positioned absolutely -->
    <div class="logo">
        <img src="{% static "img/svit.png" %}" alt="Logo">
        <div class="h2 text-light" style="margin-top: 3vh;"><b>St. Vincent Institute <br>of Technology</b></div>
        <div class="h4 text-light"><i>Student Management System</i></div>
    </div>

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-end my-5">

            <div class="col-xl-6 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                            
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    {% comment %} 
                                        log is here
                                    {% endcomment %}
                                    <div class="container-fluid">
                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-success fade-message" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                      
                                            <script>
                                              document.addEventListener("DOMContentLoaded", function () {
                                                const messages = document.querySelectorAll('.fade-message');
                                                messages.forEach(function(message) {
                                                  setTimeout(() => {
                                                    message.style.transition = "opacity 1s ease-out";
                                                    message.style.opacity = "0";
                                                    setTimeout(() => message.style.display = "none", 1000);
                                                  }, 3000);
                                                });
                                              });
                                            </script>
                                        {% endif %}
                                    </div>
                                      

                                    <form method="post">
                                      {% csrf_token %}
                                        <div class="form-group">
                                          <input type="text" name="username" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Student LRN">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                              <input type="checkbox" onclick='toglePassword()' class="custom-control-input" id="customCheck">
                                              <label class="custom-control-label" for="customCheck">Show password</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                </div>
                            
                        
                    </div>
                </div>

            </div>

        </div>

    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static "js/sb-admin-2.min.js" %}"></script>

    <script>
        function toglePassword() {
            var x = document.getElementById("exampleInputPassword");
            if (x.type === "password") {
              x.type = "text";
            } else {
              x.type = "password";
            }
        }
    </script>

</body>

</html>