{% extends "admin/admin_dashboard.html" %}

{% block heading %}
  <h1>User List</h1>
{% endblock heading %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container-fluid">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Add New Student User</h6>
        </div>
    
        <div class="card-body">
            <div class="container-fluid">
                <form action='' method='POST'>
                    <div class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-6">
                            {{student.user|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{student.student_lrn|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{student.surname|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{student.first_name|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{student.middle_name|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{student.gender|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{student.birth_date|as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{student.birth_place|as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{student.religion|as_crispy_field }}
                        </div>
                        <div class="col-md-2">
                            {{student.civil_status|as_crispy_field }}
                        </div>
                        
                        <!-- SINGIT KO LANG -->
                        <div class="col-md-2">
                            <label for="inputEmail4" class="form-label">Mother Tongue:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-2">
                            <label for="inputEmail4" class="form-label">Ethnic Group:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <!-- END OF SINGIT -->

                        <div class="col-md-3">
                            {{student.contact|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{student.email|as_crispy_field }}
                        </div>
                        <div class="col-md-12"></div>

                        <!-- ADD KO LANG 'TO KASI NEED 'TO MAKITA NG PANELISTS!!-->
                        <div class="col-md-3">
                            <label for="inputEmail4" class="form-label">Father's Name:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-3">
                            <label for="inputEmail4" class="form-label">Mother's Maiden Name:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-3">
                            <label for="inputEmail4" class="form-label">Guardian Name:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-3">
                            <label for="inputEmail4" class="form-label">Relationship:</label>
                            <input type="text" class="form-control" id="inputEmail4">
                        </div>
                        <div class="col-md-3">
                            <label for="inputEmail4" class="form-label">Contact No. of Parent or Guardian:</label>
                            <input type="numeric" class="form-control" id="inputEmail4">
                        </div>
                        <!-- END HERE!!-->
                        <div class="col-md-12"></div>

                        <div class="col-md-3">
                            {{student.level|as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{student.section|as_crispy_field }}
                        </div>
                        <div class="col-md-3">
                            {{student.adviser|as_crispy_field }}
                        </div>
                        <div class="col-md-12"></div>
                        <div class="col-md-3 d-flex justify-content-center align-items-center">
                            <button class="btn btn-primary" type="submit">✓ Confirm</button>
                            <button class="btn btn-danger" type="submit">Discard</button>
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


{% endblock content %}