{% extends "admin/admin_dashboard.html" %}

{% block heading %}
  <h1>User List</h1>
{% endblock heading %}

{% load static %}
{% block content %}

<div class="container-fluid mb-4" style="height: auto;">

  <div class="card">
    <div class="card-header">
      <h6 class="m-0 font-weight-bold text-primary">Student List</h6>
    </div>

    <div class="row g-2">
      <div class="col-md-4 col-sm-6 m-3 p-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Student LRN" aria-label="Student's LRN" aria-describedby="button-addon2">
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
        </div>
      </div>
      <div class="col-md-6 m-3 p-2" >
        <a href="{% url "addstd" %}" role='btn' class='btn btn-primary'>
          <i class="bi bi-plus-circle"></i> Add Student
        </a>
        <a href="{% url "addstd" %}" role='btn' class='btn btn-primary'>
          <i class="bi bi-plus-circle"></i> Add Staff
        </a>
      </div>
    </div>

    <div class="card shadow mb-4">
      <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th scope="col">LRN</th>
              <th scope="col">Surname</th>
              <th scope="col">Name</th>
              <th scope="col">Grade</th>
              <th scope="col">Section</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
              {% for i in student %}
                    <tr>
                      <td>{{i.student_lrn}}</td>
                      <td>{{i.surname}}</td>
                      <td>{{i.first_name}}</td>
                      <td>{{i.level}}</td>
                      <td>{{i.section}}</td>
                      <td>
                        <a href="{% url "studentinfo" i.student_lrn %}" class="btn btn-info btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                                <i class="fas fa-info-circle"></i>
                            </span>
                            <span class="text">View</span>
                        </a>
                      </td>
                    </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock content %}